# ==========================
# Build
# ==========================
bin/
obj/

# ==========================
# Visual Studio
# ==========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Rider
# ==========================
.idea/

# ==========================
# Node
# ==========================
node_modules/
node-v20.11.1-win-x64/
node.zip
node.msi

# ==========================
# Angular
# ==========================
dist/
.angular/
coverage/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# Publish
# ==========================
publish/

# ==========================
# Temporary
# ==========================
temp/
tmp/

# ==========================
# Operating System
# ==========================
Thumbs.db
Desktop.ini
.DS_Store
